form {
  max-width: 281px;

  margin: 30px auto 0px auto;
}

.logout {
  margin-top: 7px;
  font-weight: 500;
  font-size: 13px;
  color: #a40f0f;
  &:hover {
    color: #860d0d;
  }
}

.password-btn {
  margin-left: 5px;
  padding: 3px 4px 3px 4px;
  mat-icon {
    font-size: 13px;
    height: 13px;
    width: 13px;
  }
}
