.form-group {
  max-width: 500px;
  label {
    font-weight: 500;
  }
  input {
    padding: 8px;
  }
  margin-bottom: 20px;
}

form {
  width: 250px;
}

.actions {
  margin-top: 20px;
}

img {
  width: 225px;
}
