@if(isLoaded){
<div class="card-container">
  @if(topics && topics.length > 0){ @for (topic of topics; track topic.id) {
  <div class="card">
    <div class="card-header">
      <h3>{{ topic.title }}</h3>
    </div>
    <div>
      <p>
        {{ topic.description }}
      </p>
    </div>

    <div class="d-flex justify-content-center mt-15 subscribe-container">
      @if(canUnsubscribe){
      <button class="btn btn-primary" (click)="updateSubscrition(topic.id)">
        {{ topic.isSubscribed ? "Se désabonner" : "S'abonner" }}
      </button>
      } @else { @if(!topic.isSubscribed){
      <button class="btn btn-primary" (click)="updateSubscrition(topic.id)">
        S'abonner
      </button>
      } @else {
      <span class="followed">Suivi<mat-icon>done_outline</mat-icon></span>
      } }
    </div>
  </div>
  } }
</div>
@if(!topics || topics.length == 0){
<p class="empty-message">
  {{ emptyListMessage }}
</p>
} }
