<div class="d-flex flex-column px-30 py-15">
  <h2>Title</h2>
  <div class="d-flex flex-row">
    <span>Date</span>
    <span>Auteur</span>
    <span>thème</span>
  </div>
  <div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem tempore
      incidunt velit doloribus earum, veniam aliquid quasi, hic ex accusantium
      impedit ipsam exercitationem recusandae! Nisi quia in doloribus molestias
      id!
    </p>
  </div>
  <hr />
  <div>
    <h2>Commentaire</h2>
    <div></div>
  </div>
</div>
<p>post-details works!</p>
