<div class="card-container" [attr.loading]="isLoading">
  @if(isLoading){
  <app-loader></app-loader>
  } @if(posts && posts.length > 0){ @for (post of posts; track post.id) {
  <div class="card" [routerLink]="[post.id]">
    <div class="card-header">
      <h3>{{ post.title }}</h3>
    </div>
    <div>
      <div class="post-info">
        <span>{{ post.date | date : "dd/MM/yyyy" }}</span>
        <span>{{ post.author }}</span>
      </div>
      <p class="block-with-text">
        {{ post.description }}
      </p>
    </div>
  </div>
  } } @else if((!posts || posts.length == 0) && !isLoading) {
  <p class="empty-message">Aucun article pour le moment..</p>
  }
</div>
