<div class="d-flex flex-column p-30">
  <div class="d-flex flex-row justify-content-between mb-30">
    <a class="btn btn-primary">Créer un article</a>
    <span>Trier par</span>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-header"><h3>Lala</h3></div>
      <div>
        <div class="post-info">
          <span>Date</span>
          <span>Auteur</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim
          amet impedit dolorum, sunt perspiciatis cumque cupiditate, porro
          consectetur et eveniet in veritatis incidunt facere corporis! Tenetur
          quidem perferendis odio!
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h3>Lala</h3></div>
      <div>
        <div class="post-info">
          <span>Date</span>
          <span>Auteur</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim
          amet impedit dolorum, sunt perspiciatis cumque cupiditate, porro
          consectetur et eveniet in veritatis incidunt facere corporis! Tenetur
          quidem perferendis odio!
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h3>Lala</h3></div>
      <div>
        <div class="post-info">
          <span>Date</span>
          <span>Auteur</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim
          amet impedit dolorum, sunt perspiciatis cumque cupiditate, porro
          consectetur et eveniet in veritatis incidunt facere corporis! Tenetur
          quidem perferendis odio! met impedit dolorum, sunt perspiciatis cumque
          cupiditate, porro consectetur et eveniet in veritatis incidunt facere
          corporis! Tenetur quidem perferendis odio! met impedit dolorum, sunt
          perspiciatis cumque cupiditate, porro consectetur et eveniet in
          veritatis incidunt facere corporis! Tenetur quidem perferendis odio!
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><h3>Lala</h3></div>
      <div>
        <div class="post-info">
          <span>Date</span>
          <span>Auteur</span>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima enim
          amet impedit dolorum, sunt perspiciatis cumque cupiditate, porro
          consectetur et eveniet in veritatis incidunt facere corporis! Tenetur
          quidem perferendis odio!
        </p>
      </div>
    </div>
  </div>
</div>
