<div class="d-flex flex-column px-30 py-15">
  <form [formGroup]="postFrom" (ngSubmit)="submit()">
    <div class="mb-30">
      <h1>Créer un nouvel article</h1>
    </div>
    <div class="d-flex flex-column form-group purple">
      <select>
        <option value="" disabled selected>Sélectionner un thème</option>
        <option>test</option>
        <option>test</option>
        <option>test</option>
      </select>
      <!--<div
          class="validation-summary"
          *ngIf="email?.errors && registerForm.touched"
        >
          <ul>
            <li *ngIf="email!.hasError('required'); else maxlengthEmail">
              L'adresse email est obligatoire
            </li>
            <ng-template #maxlengthEmail>
              <li *ngIf="email!.hasError('maxlength'); else emailEmail">
                L'adresse email est trop longue
              </li>
            </ng-template>
            <ng-template #emailEmail>
              <li *ngIf="email!.hasError('email')">
                Rentrer une adresse email valide
              </li>
            </ng-template>
          </ul>
        </div>-->
    </div>
    <div class="d-flex flex-column form-group purple">
      <input placeholder="Titre de l'article" type="text" />
    </div>
    <div class="d-flex flex-column form-group purple">
      <textarea rows="15" placeholder="Contenu de l'aticle"></textarea>
    </div>
    <div class="d-flex justify-content-center mt-30">
      <button class="btn btn-primary">Créer</button>
    </div>
  </form>
</div>
