<div class="d-flex flex-column px-30 py-15">
  <div class="mb-30 text-center">
    <h2>Modifier votre mot de passe</h2>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="d-flex flex-column form-group">
      <label>Mot de passe actuel</label>
      <input formControlName="currentPassword" type="password" />
      <div
        class="validation-summary mt-5"
        *ngIf="currentPassword?.errors && passwordForm.touched"
      >
        <ul>
          <li *ngIf="currentPassword!.hasError('required')">
            Veuillez renseigner votre mot de passe.
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column form-group">
      <label>Nouveau mot de passe</label>
      <input formControlName="newPassword" type="password" />
      <div
        class="validation-summary mt-5"
        *ngIf="newPassword?.errors && passwordForm.touched"
      >
        <ul>
          <li *ngIf="newPassword!.hasError('required')">
            Veuillez renseigner votre nouveau mot de passe.
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column form-group">
      <label>Confirmation</label>
      <input formControlName="confirm" type="password" />
      <div
        class="validation-summary mt-5"
        *ngIf="confirm?.errors && passwordForm.touched"
      >
        <ul>
          <li *ngIf="confirm!.hasError('required')">
            Veuillez confirmer votre nouveau mot de passe.
          </li>
        </ul>
      </div>
    </div>
    <div class="validation-summary my-15" *ngIf="error">
      <ul>
        <li>
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center actions">
      <button class="btn btn-primary">Modifier</button>
    </div>
  </form>
</div>
