:root {
  --primary: #7550ec;
  --small: 800px;
}

img {
  width: 100%;
}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  display: block;
}

.m-auto {
  margin: auto;
}

.mb-30 {
  margin-bottom: 30px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.outline-btn {
  padding: 8px 25px 8px 25px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 500;
  &:hover {
    border-color: var(--primary);
  }
}
